

<body>
    <section class="body-full-color bg-gradient-to-r from-blue-500 to-purple-500 mb-10">
        <app-nav-bar></app-nav-bar>
        <div class="flex flex-col lg:flex-row justify-between items-center lg:mt-10 p-4">
            <!-- Login Form -->
            <div class="form-container flex justify-center items-center p-4 lg:p-10 lg:mx-32 lg:w-1/2">
                <form class="form" (ngSubmit)="onSubmit()">
                    <p class="title">Change Password</p>
                    <p class="message">Enter your old and new passwords.</p>
                    <label>
                        <input required placeholder="" [(ngModel)]="changePasswordForm.oldPassword" name="oldPassword" type="password" class="input">
                        <span>Old Password</span>
                    </label>
                    <label>
                        <input required placeholder="" [(ngModel)]="changePasswordForm.newPassword" name="newPassword" type="password" class="input">
                        <span>New Password</span>
                    </label>
                    <button type="submit" class="submit">Change Password</button>
                </form>
            </div>
            <!-- Hero Image -->
            <div class="flex justify-center items-center p-4 lg:w-1/2">
                <img class="bounce duration-150" src="../../../assets/images/hero-img.png" alt="">
            </div>
        </div>
    </section>
