/* You can add global styles to this file, and also import other style files */

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    font-size: 1rem;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import 'ngx-toastr/toastr';
.fontSvg{
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease-in-out;
}

.fontSvg-sm{
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease-in-out;
}

.fontSvg:hover, .fontSvg-sm:hover{
    cursor: pointer;
    transform: scale(1.1);
}

// inputs
.inputs{
    height: 40px;
    width: 100%;
    position: relative;
    margin-bottom: 30px;
}

.inputs input,
.inputs textarea, 
.inputs select{
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 2px solid gray;
    outline: none;
    font-size: 16px;
    transition: 0.3s;
}

.inputs textarea{
    height: 70px;
}
.inputs input:focus,
.inputs textarea:focus, 
.inputs select:focus{
    border-color: crimson;
}

.inputs label{
    position: absolute;
    bottom: 10px;
    left: 0;
    pointer-events: none;
    font-size: 16px;
    transition: 0.3s;
}

.inputs input:focus ~ label,
.inputs select:focus ~ label,
.inputs textarea:focus ~ label,
.inputs select:valid ~ label,
.inputs textarea:valid ~ label,
.inputs input:valid ~ label{
    transform: translateY(-23px);
    color: rgb(20, 220, 103);
}
.bg-gradient-to-r {
    background-image: linear-gradient(to right, var(--gradient-from-color), var(--gradient-to-color));
}

.from-blue-500 {
    --gradient-from-color: rgb(5, 104, 143);
}

.to-purple-500 {
    --gradient-to-color: #022E51;
}
